@font-face {
    font-family: "Kanit-Bold";
    src: url(./fonts/Kanit-Bold.ttf);
}
@font-face {
    font-family: "Kanit-Light";
    src: url(./fonts/Kanit-Light.ttf);
}
@font-face {
    font-family: "Kanit-Medium";
    src: url(./fonts/Kanit-Medium.ttf);
}
@font-face {
    font-family: "Kanit-Regular";
    src: url(./fonts/Kanit-Regular.ttf);
}
@font-face {
    font-family: "Kanit-Thin";
    src: url(./fonts/Kanit-Thin.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit-Regular", sans-serif;
}

body {
    min-height: 100vh;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-badge {
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 60%;
    filter: drop-shadow(5px 5px 3px #b3b3b3);
    border-radius: 5px;
    overflow: hidden;
}

.login-cover {
    height: 100%;
    width: 50%;
}.login-cover img {
    height: 100%;
    width: 100%;
    filter: opacity(100%);
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 75%;
}.form .login-regular-btn {
    font-size: 1rem;
    width: 80%;
    padding: 0.5rem;
    background: #807E7E;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}.form .login-regular-btn:hover {
    background: #6b6969;
}.form .login-google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 80%;
    padding: 0.5rem;
    background: #fff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #1F89EB;
    border: 3px solid #1F89EB;
    cursor: pointer;
}.form .login-google-btn:hover {
    color: #fff;
    background: #78baf8;
}.form .login-google-btn img {
    height: 32px;
    margin-right: 1rem;
}.form a {
    padding: 2rem;
    text-decoration: none;
    color: #807E7E;
}.form a:hover {
    color: #1F89EB;
}

.form-header-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
}.form-header-ctn h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 3px #999;
}

.form-info-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
}.form-info-ctn input {
    font-size: 1rem;
    width: 80%;
    height: 50px;
    border: none;
    border-bottom: 1px solid grey;
}.form-info-ctn input:focus {
    outline: none;
    border-bottom: 1px solid rgb(52, 174, 255); 
}.form-info-ctn input:focus::placeholder {
    color: #1F89EB;
}

nav {
    display: flex;
    align-items: center;
    height: 87px;
    background: #7E4D9F;
}nav ul {
    display: flex;
    list-style: none;
}nav ul li a {
    color: var(--fclr);
    text-decoration: none;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.logo-nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 1rem;
}.logo-nav img {
    height: 63px;
}

.home {
    display: flex;
    justify-content: center;
    height: 100%;
}

.home-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    width: 1083px;
}.home-center h1 {
    font-family: "Kanit-Light";
    margin: 3rem;
    font-size: 2.25rem;
}

.student-info {
    display: flex;
    justify-content: space-between;
    height: 324px;
    background: #D3D3D3;
    border-radius: 15px;
    width: 100%;
}

.std-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}.std-profile img {
    height: 180px;
    width: 180px;
    border-radius: 10px;
}.std-profile h2 {
    margin: 1rem;
}

.std-text-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 75%;
}.std-text-info p {
    padding-left: 1rem;
    font-size: 1.5rem;
}

.std-status {
    position: absolute;
    padding: 0.5rem 3rem;
    right: 0;
    top: 0;
    background: #fff;
    border-radius: 20px;
    transform: translate(-10px, 10px);
}.std-status span {
    color: #19AF00;
}

.home-btns-ctn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}.home-btn {
    font-size: 2.5rem;
    height: 8rem;
    width: 28rem;
    border: none;
    border-radius: 10px;
    background: #FFDBAF;
    cursor: pointer;
}.home-btn:hover {
    background: #fac687;
}

.form-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}.form-badge h1 {
    font-size: 2.5rem;
    margin: 3rem;
}

.form-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 500px;
    background: #C4C4C4;
    border-radius: 10px;
    padding: 2rem;
}.form-ctn label {
    font-size: 2rem;
}.form-ctn input {
    border-radius: 5px;
    height: 3rem;
    border: none;
    margin: 1rem;
    font-size: 1.5rem;
}input[name="fname"] {
    width: 35rem;
}input[name="lname"] {
    width: 40rem;
}input[name="group"], input[name="branch"] {
    width: 30rem;
}input[name="address"] {
    width: 83.5rem;
}input[name="c-address"] {
    width: 77.5rem;
}input[name="class"] {
    width: 10rem;
}